.container{
 position: relative;
}

.textContainer{
position: relative;


}
.textContainer:hover {
visibility: visible;

}



.albumText {
  z-index:2;
  top: 50%;
  bottom:50%;
  left:50%;
  right:50%;
  text-align: center;
  white-space: nowrap;
}


.album {

   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;


   }

   .album:hover {
      opacity: 0.5;
      visibility: visible;
 
      }

.albumBreak {
  margin-top:5%;
}


